*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #fff;
    font-size: 16px;
}
a, span{
    display: inline-block;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
.title-text h2{
    color: #0b0223;
    font-size: 35px;
}
.title-text h2 span{
    color: #b851d6;
}
.primary-btn{
    border: none;
    background-color: #ff42a5;
    padding: 15px 20px;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
}
.primary-btn:hover{
    background-color: #4ec5f7;
}

/**********Header Area css*********/
.header-area{
    background-color: #fff;
    padding: 20px 0;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a{
    display: flex;
    align-items: center;
}
.logo a img{
    width: 70px;
    margin-right: 15px;
}
.logo a{
    color: #000;
    text-decoration: none;
    font-size: 40px;
    font-weight: 600;
}
.logo a span{
    color: #ff42a5;
}
.menu ul{
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.menu ul li a{
    text-decoration: none;
    color: #48425a;
    font-size: 18px;
}
.header-btn{
    background-color: #e7e6e9;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    color: #48425a;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.youtube-icon{
    color: #f61c0d;
    margin-left: 5px;
    font-size: 25px;
}
.tiktok-icon{
    color: #000000;
    margin-left: 5px;
    font-size: 20px;
}

/*************Banner Area css*************/
.banner-area{
    background-color: #f8effd;
}
.banner-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content h2{
    color: #0b0223;
    font-size: 54px;
    font-weight: 500;
}
.banner-content h1{
    color: #d94dc4;
    font-size: 80px;
    margin-bottom: 15px;
}
.banner-content p{
    color: #534c64;
    font-size: 18px;
    margin-bottom: 10px;
}
.banner-image{
    max-width: 550px;
}
.banner-image img{
    width: 100%;
}
.banner-2{
    padding: 30px 0;
}
.banner-2-content{
    text-align: right;
}
.banner-2-content h2{
    color: #b851d6;
    font-size: 40px;
}
.banner-2-content p{
    color: #686277;
    font-size: 18px;
    max-width: 425px;
    margin: 15px 0;
}
.banner-2-content p span{
    font-size: 22px;
}
.banner-2-content h3{
    color: #534c64;
    font-size: 30px;
}


/*********Games Area css***********/
.games-area{
    padding: 80px 0;
}
.games-title{
    text-align: center;
}
.games-title p{
    color: #57487e;
    margin-top: 10px;
    margin-bottom: 30px;
}
.games-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.games-item{
    width: 280px;
    height: 320px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.games-item .icon{
	position: absolute;
	left: 43%;
	top: 46%;
    z-index: 10;
    display: none;
}
.games-item .icon a i{
    color: #fff;
    font-size: 35px;
}
.games-item:hover .icon{
    display: block;
}
.games-item::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    z-index: 5;
}
.games-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.games-item:hover::after{
    width: 100%;
}

/**********Hero Area css*********/
.hero-wrapper{
    display: flex;
    align-items: center;
    gap: 150px;
    justify-content: flex-end;
}
.hero-title{
    text-align: right;
}
.hero-title p{
    max-width: 300px;
    margin-top: 20px;
}
.hero-image{
    max-width: 600px;
}
.hero-image img{
    width: 100%;
}


/***************Games opt**************/
.games-opt-area{
    padding: 50px 0;
}
.games-opt{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.games-opt a{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 5px 10px;
    color: #000;
    border: 1px solid transparent;
}
.games-opt a img{
    width: 50px;
    margin-right: 10px;
}
.games-opt a:hover{
    color: #f61c0d;
    border: 1px solid #f61c0d;
    border-radius: 30px;
}

/**********Footer Area css**********/
footer{
    background-color: #0b0223;
    padding: 50px 0;
}
.footer-wrapper{
    text-align: center;
}
.footer-logo a{
    justify-content: center;
    color: #fff;
}
.footer-opt{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}
.footer-opt .box,
.footer-opt-2 .box,
.footer-icon .box{
    display: flex;
    gap: 30px;
}
.footer-opt a{
    text-decoration: none;
    color: #fff;
}
.footer-opt-2{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.footer-opt-2 a{
    text-decoration: none;
    color: #8b8796;
}
.footer-icon{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 30px 0;
}
.footer-icon a{
    color: #fff;
    font-size: 35px;
}
.copyright{
    color: #8b8796;
    font-size: 16px;
    margin-top: 30px;
}


/****************Responsive css******************/
@media screen and (max-width:1200px){
    .container{
        padding: 0 10px;
        box-sizing: border-box;
    }
}

@media screen and (max-width:767px){
    .header-wrapper{
        flex-direction: column;
        gap: 10px;
    }
    .hero-wrapper{
        flex-direction: column;
        gap: 50px;
    }
    .banner-2-wrapper{
        flex-direction: column!important;
    }
    .banner-2-content{
        text-align: center;
        order: -1;
    }
    .banner-2-content h3{
        font-size: 23px;
    }

    
}

@media screen and (max-width:575px){
    .banner-wrapper{
        flex-direction: column;
        padding-top: 30px;
    }
    .banner-content h2{
        font-size: 45px;
    }
    .banner-content h1{
        font-size: 65px;
    }
    .banner-image{
        margin: 0 15px;
    }
    .title-text h2{
        font-size: 27px;
    }
    .games-title p{
        font-size: 14px;
    }
    
    .hero-title {
        text-align: center;
    }
    .footer-opt,
    .footer-opt-2,
    .footer-icon{
        flex-direction: column;
        align-items: center;
    }
    .footer-icon a{
        font-size: 25px;
    }


}

@media screen and (max-width:480px){
    .menu ul{
        flex-direction: column;
        gap: 10px;
    }
    .games-opt a{
        padding: 5px;
        font-size: 12px;
    }
    .games-opt a img {
        width: 25px;
        margin-right: 5px;
    }
    .copyright{
        font-size: 14px;
    }
}

